
a {text-decoration: none;}

ul {
	list-style-type: none;
}

body {
	margin: 0;
	background: #ffffed;
}

header, nav, section, article, footer {
	
}

header, footer {
	background: #473d3a;
	border: 1px solid #473d3a;
}

h1 {
	text-align: center;
	color: #ffffed;
}

ul {
	padding-left: 0;
	text-align: center;
}

li {
	display: inline-block;
	margin-right: 40px;
}

a {
	color: #473d3a;
	font-size: 1.5em;
	font-family: sans-serif;
}

a:hover {
	text-decoration: underline;
}

section {
	color: #473d3a;
	font-family: inherit;
	box-align: center;
	min-height: 500px;
	padding: 10px 20px;
}

#columnLeft {
	float: left;
    -webkit-box-align: center;
}

#columnRight {
	text-align: center;
	padding: 50px 20px 10px 20px;
	font-family: monospace;
	font-size: 1.3em;
	color:black;
}

footer {
	float: none;
	text-align: center;
}